 <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="/" class="navbar-brand p-0">
                 <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>Richardiag</h1> 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link active">Accueil</a>
                    <a href="/actualities" class="nav-item nav-link">Actualités</a>
                    <a href="service.html" class="nav-item nav-link">Nos services</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Demande de devis</a>
                        <div class="dropdown-menu m-0">
                            <a href="blog.html" class="dropdown-item">Maison</a>
                            <a href="detail.html" class="dropdown-item">Appartement</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Nous contacter</a>
                        <div class="dropdown-menu m-0">
                            <a href="http://r-diag.fr/" class="dropdown-item">Site Primaire</a>
                            <a href="https://www.pagesjaunes.fr/pros/61961254" class="dropdown-item">Page Jaune</a>
                        </div>
                    </div>
                </div>
                <div>
                        <ul>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a href="/logout" class="btn btn-primary py-2 px-4 ms-3">Se déconnecter</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="/login" class="btn btn-primary py-2 px-4 ms-3">Se connecter</a>
                            </li>

                            {% endif %}
                        </ul>
                </div>
            </div>
        </nav>
    </div>